@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-scroll {
    animation: scroll 15s linear infinite;
  }
}

* {
  @apply scroll-smooth;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-primary text-white overflow-x-hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  @apply w-3;
}

::-webkit-scrollbar-track {
  @apply bg-primary;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-opacity-80;
}
